@clover-microapp:registry="https://artifactory.corp.clover.com/artifactory/api/npm/npm-local/"
@clover:registry="https://artifactory.corp.clover.com/artifactory/api/npm/npm-local/"
registry="https://registry.npmjs.org/"